@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";
.sidebar.active{
    .list-group-item{
        background-color: transparent;
        border: none;
        color: #fff;
        &:hover,&.active{
            background: #394966;
            color: #fff;
        }
    }
}
.sidebar{
    max-width: 250px;
    height: 100vh;
    &>div{ height: 100%; }
}
@media (max-width: 991px){
    .sidebar{
        width: 100%;
        max-width: 400px;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 0.3s right;
        z-index: 100;
        height: 100%;
        &.active{
            right: 0;
        }
    }
}
.container{
    position: relative;
}
.basket-toggle{
    position: relative;
    .badge{
        position: absolute;
        right: 3px;
        top: 3px;
    }
}
.basket{
    position: fixed;
    background-color: #fff;
    padding: 15px;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    overflow: auto;
    transition: 0.3s right;
    z-index: 1500;
    &.active{
        right: 0;
    }
}