.basket{
    right: -100%;
    transition: 0.3s all;
}
.basket.active{
    right: 0
}
.basket img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.basket__item-photo{
    height: auto !important;
}
.basket__item-count-block-minus, .basket__item-count-block-plus{
    cursor: pointer;
}