<template>
    <div>
        <div v-if="$store.state.totalItems">
            <div class="basket__item" v-for="(item, id) in $store.state.q" :key="id">
                <div class="basket__item-photo"><img :src="'/storage/' + items[id].image" :alt="items[id].name[lang]"></div>
                <div class="basket__item-count">
                    <div class="basket__item-count-title">{{items[id].localedName}}</div>
                    <div class="basket__item-count-block">
                        <div class="basket__item-count-block-minus" @click="update(id, 'm')"><svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.37196" y="2.3999" width="1.8" height="10.8411" rx="0.9" transform="rotate(-90 0.37196 2.3999)" fill="black"/></svg></div>
                        <div class="basket__item-count-block-sum">{{$store.state.q[id]}}</div>
                        <div class="basket__item-count-block-plus" @click="update(id, 'p')"><svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.77383 12.125C6.25282 12.125 6.64112 11.7367 6.64112 11.2577V7.31818H10.3762C10.8281 7.31818 11.1944 6.95187 11.1944 6.5C11.1944 6.04813 10.8281 5.68182 10.3762 5.68182H6.64112V1.74229C6.64112 1.2633 6.25282 0.875 5.77383 0.875C5.29484 0.875 4.90654 1.2633 4.90654 1.74229V5.68182H1.17145C0.71958 5.68182 0.353268 6.04813 0.353268 6.5C0.353268 6.95187 0.71958 7.31818 1.17145 7.31818H4.90654V11.2577C4.90654 11.7367 5.29484 12.125 5.77383 12.125Z" fill="black"/></svg></div>
                    </div>
                </div>
                <div class="basket__item-price">{{items[id].price * item}}{{sign}}</div>
            </div>
            <div class="basket__line"></div>
            <div class="basket__prise">
                <div class="basket__prise-text">{{total}}</div>
                <div class="basket__prise-sum">{{$store.state.totalPrice}}{{sign}}</div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
    props: ['lang', 'total'],
    data(){
        return {
            sign: this.lang == 'ru' ? 'р.' : '$'
        }
    },
    computed: {
        ...mapState(['items'])
    },
    methods: {
        async update(id, sign){
            if(sign == 'm') this.$store.state.q[id] --;
            else this.$store.state.q[id] ++;
            const response = await fetch('/basket/' + id + '/' + sign, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json",
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRF-Token": $('[name="csrf-token"]').get(0).content
                },
            })
            const size = await response.json();
            let totalPrice = 0
            for(let p in this.$store.state.items) totalPrice += this.$store.state.items[p].price * this.$store.state.q[p]
            this.$store.state.totalPrice = totalPrice;
            this.$store.state.shopitems = size;
        }
    }
}
</script>