<template>
    <a href="#" @click.stop.prevent="openBasket" class="ind-header__nav-item-basket">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 15.1579C6.20333 15.1579 5.91332 15.2412 5.66664 15.3974C5.41997 15.5535 5.22771 15.7755 5.11418 16.0351C5.00065 16.2948 4.97094 16.5805 5.02882 16.8562C5.0867 17.1318 5.22956 17.385 5.43934 17.5838C5.64912 17.7825 5.91639 17.9179 6.20736 17.9727C6.49834 18.0275 6.79994 17.9994 7.07403 17.8918C7.34811 17.7843 7.58238 17.6021 7.7472 17.3684C7.91203 17.1348 8 16.86 8 16.5789C8 16.2021 7.84196 15.8406 7.56066 15.5741C7.27936 15.3076 6.89782 15.1579 6.5 15.1579ZM17 12.3158H5C4.73478 12.3158 4.48043 12.216 4.29289 12.0383C4.10536 11.8606 4 11.6197 4 11.3684C4 11.1172 4.10536 10.8762 4.29289 10.6985C4.48043 10.5209 4.73478 10.4211 5 10.4211H13.4912C14.1426 10.4191 14.7758 10.2171 15.2959 9.84552C15.816 9.4739 16.195 8.95262 16.376 8.35979L17.9614 3.10254C18.004 2.96154 18.0114 2.81312 17.9831 2.66895C17.9548 2.52478 17.8915 2.3888 17.7983 2.27172C17.7051 2.15464 17.5845 2.05966 17.446 1.99424C17.3075 1.92882 17.1548 1.89476 17 1.89474H4.73907C4.53206 1.34276 4.15044 0.864672 3.64622 0.525613C3.14201 0.186554 2.53971 0.00301334 1.92139 0H1C0.734784 0 0.48043 0.0998117 0.292893 0.277478C0.105357 0.455144 0 0.696111 0 0.947368C0 1.19863 0.105357 1.43959 0.292893 1.61726C0.48043 1.79492 0.734784 1.89474 1 1.89474H1.92139C2.13847 1.89546 2.34947 1.96277 2.52279 2.08661C2.6961 2.21044 2.82242 2.38413 2.88281 2.58167L3.03833 3.09774L3.03857 3.10254L4.6792 8.54251C3.91576 8.62031 3.21287 8.97247 2.71527 9.52648C2.21766 10.0805 1.96321 10.7942 2.00433 11.5205C2.04544 12.2469 2.37898 12.9307 2.93626 13.4312C3.49355 13.9316 4.23216 14.2105 5 14.2105H17C17.2652 14.2105 17.5196 14.1107 17.7071 13.933C17.8946 13.7554 18 13.5144 18 13.2632C18 13.0119 17.8946 12.7709 17.7071 12.5933C17.5196 12.4156 17.2652 12.3158 17 12.3158ZM15.6743 3.78947L14.4531 7.83892C14.3928 8.03662 14.2664 8.21047 14.093 8.3344C13.9196 8.45833 13.7084 8.52567 13.4912 8.52632H6.75439L6.49945 7.68106L5.32642 3.78947H15.6743ZM14.5 15.1579C14.2033 15.1579 13.9133 15.2412 13.6666 15.3974C13.42 15.5535 13.2277 15.7755 13.1142 16.0351C13.0006 16.2948 12.9709 16.5805 13.0288 16.8562C13.0867 17.1318 13.2296 17.385 13.4393 17.5838C13.6491 17.7825 13.9164 17.9179 14.2074 17.9727C14.4983 18.0275 14.7999 17.9994 15.074 17.8918C15.3481 17.7843 15.5824 17.6021 15.7472 17.3684C15.912 17.1348 16 16.86 16 16.5789C16 16.2021 15.842 15.8406 15.5607 15.5741C15.2794 15.3076 14.8978 15.1579 14.5 15.1579Z" fill="black"/></svg>
        <div class="ind-header__nav-item-basket-count">{{$store.state.totalItems}}</div>
    </a>
</template>

<script>
import {mapState} from 'vuex'
export default {
    methods: {
        openBasket(){
            if(this.$store.state.totalItems)
                $('.basket').addClass('active')
        }
    }
}
</script>