<template>
  <button class="ind-book__slider-item-btns" @click="addToCart">Buy</button>
</template>

<script>
export default {
    props: ['id'],
    methods: {
        async addToCart(){
            const response = await fetch('/basket/' + this.id, {
                method: 'POST'
            })
            const result = await response.json()
            this.$store.shopitems = result
        }
    }
}
</script>